:host {
  display: block;
  padding: 16px;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  .form-errors-summary {
    font-size: 14px;
    padding-top: 8px;
    height: 48px;
    color: red;
  }
  .progress {
    color: gray;
    padding-top: 16px;
    text-align: center;
  }
}