<div class="auth-form" [formGroup]="authForm">
    <label for="auth-mehtod">Auth Method</label>
    <select name="auth-mehtod" formControlName="authMethod">
        <option selected disabled hidden></option>
        <option value="username">Username</option>
        <option value="email">Email</option>
    </select>
    <label for="auth-credentials">Value</label>
    <input name="auth-credentials" formControlName="authCredentials">

    <button [disabled]="authForm.status !== 'VALID'">PROCEED TO LOGIN</button>
    <button [disabled]="authForm.status !== 'INVALID'">REGISTER</button>
</div>