<div class="form" [formGroup]="form">
  <label for="password">Password</label>
  <input name="password" type="text" formControlName="password">
  <div class="errors">
    <span *ngIf="form.get('password').hasError('required')">Password is Required</span> 
  </div>
  <label for="confirmation">Password Confirmation</label>
  <input name="confirmation" type="text" formControlName="confirmation">
  <div class="errors">
    <span *ngIf="form.get('confirmation').hasError('required')">Password confirmation is Required</span> 
  </div>
  <div class="form-errors-summary"> 
    <div *ngIf="form.hasError('password-confimration-mismatch')">Password confirmation does not match the password</div>
  </div>
</div>
