
ul {
  list-style: none;
  li {
    position: relative;
    padding-bottom: 10px;
    &:before {
      content: '';
      position: absolute;
      border-right:2px solid black;
      border-bottom:2px solid black;
      width:10px;
      height:10px;
      top: calc(50% - 4px);
      left: -20px;
      transform: translateY(-50%) rotate(-45deg);
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
